.vscode/

# Python
__pycache__/
*.py[cod]
.env
.venv/
venv/
env/
*.sqlite3
.DS_Store

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# Data
data/images/
data/styles/images.csv

# Logs and misc
*.log
*.tmp
*.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*